
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-rainbow {
  animation: rainbow 2s infinite linear;
}

/* Force dark background for the "Desktop" area outside the app */
html, body {
  background-color: #050505;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling on the body */
}

/* The App Container */
#root {
  width: 100%;
  height: 100%;
  /* Removed max-width and margin here to allow Admin to be full width */
  background-color: black;
}

/* Hide Scrollbar but allow functionality */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
